@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--color-bg: #ededed;
	--color-bg-surface: #dcdcdc;
	--color-bg-highlight: #e3e3e3;
	--color-bg-tags: #e0e0e0;

	--color-border: #666;
	--color-line: #666;
	--color-text: #1f1f1f;
	--color-text-subtitle: #777;
}

:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #131316;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.dark {
	--color-bg: #131316;
	--color-bg-surface: #0a0a0a;
	--color-bg-highlight: #151515;
	--color-bg-tags: #0a0a0a;
	--color-bg-dark: rgb(243, 243, 243);

	--color-border: #666;
	--color-line: #eeeeee;
	--color-text: #ddd;
	--color-text-subtitle: #777;
}

body {
	margin: 0;
	min-height: 100vh;
}
